*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboro", Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgrey;
}

/* Logo e testo */
header{
    height: 80px;
    background-color: white;
    padding: 13px 20px;
}

.middle{
    vertical-align: middle;
}

.logo-text{
    height: 100px;
    font-size: 35px;
    
    font-weight: 600;
    vertical-align: middle;
}
/* /Logo e testo */

/* Menu */
nav{
    height: 50px;
    background-color: white;
    margin: 50px 100px 1px 100px;
    border-radius: 10px 10px 0 0;
    vertical-align: middle;
    line-height: 50px;
}

.link{
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

#add-task{
    margin-left: 40px;
    background-color: deepskyblue;
    color: white;
}

#add-section{
    border: 1px solid grey;
    color: grey;    
}

/* /Menu */

/* Main */
main{
    height: 600px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    margin: 0 100px 50px 100px;
}

section{
    padding: 40px;
}

.task{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

section>span{
    
}

.task::before{
    content: "\0025BE";
}

.check::before{
    content: "\2714 ";
    color: green;
    border-radius: 50%;
    padding: 1px 2px;
    border: 1px solid green;
    font-size: 10px;
}

.category{
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.editorial{
    background-color: deepskyblue;
}
/* /Main */